<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Actions</title>
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
	<script src="/js/vue@2.2.6.js"></script>
    <script src="/js/jquery.min.js"></script>
    <style type="text/css">
    .wrap{
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	height: 100vh;
    }
    a,a:hover,a:focus{
    	text-decoration:none;
    }
    	.box{
    		width:200px;
    		height: 200px;
    		border:1px solid black;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		margin-left: 20px;
    		background: #ccff99;
    		cursor: pointer;
    		color:gray;
    		text-decoration: none;
    	}
    </style>
</head>
<body>
<div class="wrap">
	<a class="box" href="/post">Prepare Questions</a>
	<!-- <a class="box" href="/launch">Launch Exam </a> -->
	<a class="box" href="/res">View Results</a>
</div>
</body>
</html>