<!DOCTYPE html>
<html>
<head>
	<title>NFNLabs Exam</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">  
	<link rel="stylesheet" href="/css/lib/fw/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
<nav class="navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="http://nfnlabs.in/images/logo_nav.jpg" width="45"></a>
    </div>
    <p class="navbar-text" style="color: yellowgreen; padding-top: 30px; margin:0;">NFNLabs</p>
    <h2 class="navbar-text" style="position:absolute;top:11%;left:40%;" >OnlineTest</h2>
</nav>
	<div class="col-md-2 col-lg-2 col-sm-2">
		<ul class="list"> 
			<li class="fa fa-odnoklassniki-square"> <a href="/html/profile">Profile</a></li><br><br>
			<li class="fa fa-wpforms"> <a href="">Instruction</a></li><br><br><br>
			<h3>TEST</h3><br>
			<li class="fa fa-wpforms"> <a href="/">Logical</a></li><br><br>
			<li class="fa fa-wpforms"> <a href="">Resoning</a></li><br><br>
			<li class="fa fa-wpforms"> <a href="">Program</a></li><br><br>
		</ul>
	</div>
	<div class="col-md-10 col-lg-10 col-sm-10">
		<form id="question_form">
			<div class="well">
			<small>Question</small><small>qtype</small><br>
			<h4 id="question1" style="font-size:25px;"> 
			{{que}} ---------</h4>
			</div>

		</form>




	</div>
</body>
</html>