<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="/js/vue@2.2.6.js"></script> -->
    <!-- <script src="/js/jquery.min.js"></script> -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" />
    <style type="text/css">
    .pull-left {
        margin-top: 2rem;
        margin-left: 2rem;
    }
    
    .jumbotron {
        margin-bottom: 0px;
    padding-bottom: 30px;
}
    
    img+h1 {
        margin: 0;
        padding: 0 0 2rem 0;
    }
    
    .about {
        /*margin: 0 35rem 0 35rem;*/
        width: 55%;
        letter-spacing: -0.1rem;
    }
    
    hr {
        border-top: 1px solid black;
        margin: 2rem 49rem 0 52rem;
    }
    
    .start {
        background-color: #7ED321;
        color: white;
        padding: 2rem;
    }
    a:hover,a:active,a:focus{
        color:#fff!important;
    }
    </style>

    <body>
        <img src="/logo_nfn.png" width="50" class="pull-left">
        <div class="jumbotron">
        </div>
        <div class="container ">
            <img class="center-block" src="/logo_nfn.png" width="200px">
            <h1 class="text-center">Welcome </h1>
            <article class="center-block about text-center"><strong>
	<p>We are a 5 year old design driven development agency  building aesthetic<p>& functional solutions for iOS,Andriod,the Web,Apple Watch,</p><p>Apple TV as well as Browser extensions.</p>
	</strong></article>
            <hr>
            <div class="container text-center">
                <h1>Get in touch</h1>
        
                <a class="btn-default" href="http://nfnlabs.in"><h4>nfnlabs.in</h4></a>
            </div>
            <br>
            <br>
            <div class="container text-center">
                <a href="/reg" class="btn btn-lg start" onclick="nextpage()"><strong>Fill the user details and start the exam</strong></a>
            </div>
        </div>
        <script>
            // function nextpage(){
            //     window.
            // }
        </script>
    </body>

</html>
