<!DOCTYPE html>
<html>
<head>
	<title>
		NFNLabs Exam
	</title>
	<script src="/js/vue@2.2.6.js"></script>
    <script src="/js/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lib/bootstrap-iso.css" />
    <link rel="stylesheet" href="/css/lib/fw/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/exam.css" />
	</head>
	<body>
	<div class="container" id="target">
	<!-- {{user}} : {{count}} -->
	<h1>hello this is a result page </h1>
	{{user}} scored {{count}}

	</div>

		<script type="text/javascript">
			var jq = $.noConflict();

		</script>
	</body>
	</html>