<!DOCTYPE html>
<html>

<head>
    <title>Exam</title>
    <script src="/js/vue@2.2.6.js"></script>
    <script src="/js/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lib/bootstrap-iso.css" />
    <link rel="stylesheet" href="/css/lib/fw/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/exam.css" />
    <!-- <link rel="stylesheet" href="/css/checkbox.css" /> -->
    <style type="text/css">
        #wapper{
            border-bottom: 1px solid;
        }
        input[type="radio"],input[type="checkbox"]{
            display:none;
        }
        /*input[type="radio"]:checked+label*/
        input[type="radio"]:checked +label,input[type="checkbox"]:checked +label{
            background-color:#E3F2D0;
        }
        label{
            font-weight: normal;
            cursor: pointer;
        }
    </style>
</head>


<body >
    <nav class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/logo.jpg" width="45"></a>
        </div>
        <p class="navbar-text" style="color: yellowgreen; padding-top: 30px; margin:0;">NFNLabs</p>
        <h2 class="navbar-text" style="position:absolute;top:11%;left:40%;">OnlineTest</h2>
        <h3 class="navbar-text" style="position:absolute;top:11%;left:90%;" id="clock"></h3>
    </nav>
    <div id="target">
    <div class="col-sm-2">
        <ul class="list">
        <template v-for="(array,index) in questionArray">
        <sidebar :i=index :class="array.answer==undefined||''||array.answer.length==0?'ebox':'box'"> </sidebar>
        </template>
            <!-- <li class="fa fa-odnoklassniki-square"> <a href="/html/profile">Profile</a></li>
            <br>
            <br>
            <li class="fa fa-wpforms"> <a href="">Instruction</a></li>
            <br>
            <br>
            <br>
            <h3>TEST</h3>
            <br>
            <li class="fa fa-wpforms"> <a href="">Logical</a></li>
            <br>
            <br>
            <li class="fa fa-wpforms"> <a href="">Resoning</a></li>
            <br>
            <br>
            <li class="fa fa-wpforms"> <a href="">Program</a></li>
            <br>
            <br> -->
            
        </ul>
    </div>
   <!--  <div class="category" v-for="array in question">
    <p> {{array.category}}</p>
    </div> -->
        <div class="col-sm-8">
            <div class="qaa">
                <form id="form" v-on:submit.prevent>
                    <div id="wrapper" v-for="array in question">
                        <div >
                            <question :que="array.question" :index="index" v-if="array.question"></question>
                        </div><optionbox :option="array.a" val="a" v-if="!array.a==''"> </optionbox>
                                <optionbox :option="array.b" val="b" v-if="!array.b==''"> </optionbox>
                                <optionbox :option="array.c" val="c" v-if="!array.c==''"> </optionbox>
                                <optionbox :option="array.d" val="d" v-if="!array.d==''"> </optionbox>
                                <optionbox :option="array.e" val="e" v-if="!array.e==''"> </optionbox>
                                <optionbox :option="array.f" val="f" v-if="!array.f==''"> </optionbox>
                        <text-box v-if="array.question_Type=='fill_in_the_blank_answer'"></text-box>
                        <checkbox :option="array.c1" val="a" v-if="!array.c1=='' "></checkbox>
                        <checkbox :option="array.c2" val="b" v-if="!array.c2==''"></checkbox>
                        <checkbox :option="array.c3" val="c" v-if="!array.c3==''"></checkbox>
                        <checkbox :option="array.c4" val="d" v-if="!array.c4==''"></checkbox>
                        <checkbox :option="array.c5" val="e" v-if="!array.c5==''"></checkbox>
                        <checkbox :option="array.c6" val="f" v-if="!array.c6==''"></checkbox>
                        <ul class="nav navbar-nav navbar-right container-fluid">
                            <li>
                                <button id="previous" v-if="flag" type="button" class="btn btn-default btn-block btn-lg" v-on:click="onPrev" id="prevb"><b>Previous</b></button>
                            </li>
                            <li>
                                <button id="next" type="button" class="btn btn-success btn-block btn-lg" v-on:click="onNext"> <b>Next </b></button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2 instruction">
            instruction
        </div>
    </div>
    

    <script src="/js/test2.js">
    </script>
</body>

</html>
