body{
    /*background: #fff;*/
}
.form-group{
    display: flex;
    justify-content:space-around;
}

.list a {
    text-decoration: none;
    color: white;
}

.navbar {
    font-size: 20px;
    width: 100%;
    background: #F1F1F1;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.col-md-2,
.col-lg-2,
.col-sm-2 {
    background-color: gray;
    height: 100vh;
    color: white;
    font-size: 20px;
    padding-top:100px;

}

.col-md-10,
.col-lg-10,
.col-sm-10 {
    /*background-color: #F1F1F1;*/
    height: 650px;
}

.list {
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box,.ebox{
    width: 50px;
    height: 50px;
    background: #7ED321;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.ebox{
    background: red;
}


/*.qt{
            background-color: white;
            width:80%;
        }
        .qt td , .qt th {
            padding:20px;
        }*/

.row {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar-right li {
    padding: 10px;
    outline: none;
}

.navbar-right {
    padding-right: 4px;
    padding-top: 19px;
}

.btn:active:focus, .btn:focus {
    outline:none;
    /*outline-offset: -2px;*/
}
.btn-success,.btn-success:hover,.btn-success:active,.btn-success:focus {
    background-color: #7ED321;
    outline: none;
}
*{
    outline: none;
}
.btn-success,
.btn-default {
    width: 100px;
    border: 0.5px solid;
}


/*.container{
            border:1px solid black;
            
        }*/

.radio {
    position: relative;
    display: block;
    margin-top: 0px;
    /* margin-bottom: 6px; */
}
.category{
    overflow: hidden;
    border-bottom: 1px solid gray;
}
.category p{
    padding: 10px;
    padding-bottom: 0px;
}
.instruction{
    background: #fff;
    color:gray;
    border-left:1px solid gray;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
}

.q{
    border: none;
    box-shadow: none;
    padding: 10px !important;
}
.well {
    min-height: 6px;
    padding: 15px;
    /*margin-bottom: 0px;*/
    background-color: white;
    border-radius: 4px;
    /*border: 1px solid black;*/

}

.qaa {
    padding: 20px;
    /*margin: 50px;*/
    background-color: white;
}

label.btn span {
    font-size: 1.5em;
}

label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="radio"] ~ i.fa.fa-check-circle {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-check-circle {
    color: yellowgreen;
    display: inline;
}

label:hover input[type="radio"] ~ i.fa {
    color: yellowgreen;
}

div[data-toggle="buttons"] label.active {
    color: yellowgreen;
}

div[data-toggle="buttons"] label:hover {
    color: ;
}

div[data-toggle="buttons"] label:active,
div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.radio input[type="radio"] {
    display: none;
}

#fill {
    outline: none;
    border-radius: 4px;
    border: 1px solid gray;
    /*border-bottom: none;*/
    width: 100%;
    padding: 4%;
}
